KHIPU_API_KEY=
KHIPU_BASE_URL=https://payment-api.khipu.com
MERCADOPAGO_ACCESS_TOKEN=
MERCADOPAGO_BASE_URL=https://api.mercadopago.com
TRANSBANK_COMMERCE_CODE=
TRANSBANK_API_KEY=
TRANSBANK_BASE_URL=https://webpay3gint.transbank.cl/rswebpaytransaction/api/webpay/v1.2
